* {
    font-size 15px
    line-height 1.5
    margin 0
    padding 0
    position relative
    // box-sizing border-box
}

body {
    font-family 'Microsoft JhengHei','Helvetica Neue','Helvetica','Arial', dashicons, sans-serif !important;
    color #3a3a3a
    box-sizing border-box
}

ul {
    margin 0
    padding 0
    list-style none
}

a {
    text-decoration none
    color #3a3a3a
}

.lh60
    line-height 60px

.f1
    flex 1

.f-jc
    display flex
    justify-content center