.disign-concept
    margin-top 10rem
    margin-bottom 2rem

.design-left
    padding 0

.design-left-wrap
    margin 130px -25px 0 0
    display flex
    flex-direction row-reverse

.design-left-wrap-down
    @extend .design-left-wrap
    margin 60px -25px 0 0

.design-right
    margin 0 0 120px 0

.design-border
    border 2px solid #000
    transition background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s
    padding 30px

.design-right-wrap
    margin-bottom 120px

.design-image-1st
    // max-width 45%
    width 272px
    padding-top 326px
    z-index 1

.design-image-2nd
    width 450px
    padding-top 300px
    z-index 1