.timelimit-feature-page
    margin-bottom 5rem

.timelimit-feature-text-box
    min-height 76.8px
    display flex
    flex-direction column
    justify-content center

.timelimit-feature-img
    width 100%
    padding-top 140%
    &:hover
        >.img-fit
            >.timelimit-feature-img-hover
                transform scale(1.1)

.timelimit-feature-img-hover
    transition all 0.3s

.timelimit-feature-side-img
    width 33.333%
    padding-top 33.333%

.timelimit-featrue-side-center-page
    max-width 1140px

.timelimit-feature-side-text
    padding 30px 50px