.timelimit-intro
    display flex
    padding 0 1rem
    margin 4rem 0

.timelimit-intro-left
    flex 1
    display flex
    justify-content center

.timelimit-intro-left-center
    width 260px
    display flex
    flex-direction column
    justify-content space-between

.timelimit-intro-left-title
    font-size 45px
    font-weight 600

.timelimit-intro-line-box
    text-align center
    padding 1rem 0
    

.timelimit-intro-line
    border-top 3px solid #12E0B9
    width 30%

.timelimit-intro-text-box
    margin-bottom 1rem
    width 100%

.timelimit-intro-text-title
    font-size 20px
    padding 1rem 0
    
.timelimit-intro-text
    color rgb(58, 58, 58)
    font-family "Abel", Sans-serif
    font-size 20px
    font-weight 400
    font-style italic
    letter-spacing -0.7px

.timelimit-intro-right
    flex 2
    padding 0 2rem
    display flex
    justify-content center

.timelimit-intro-right-center
    max-width 600px
    width 100%

.timelimit-intro-must
    padding 1rem 0

.timelimit-intro-must-text
    font-size 26px
    font-weight 600
    line-height 1.5rem
    padding-bottom 1rem

.timelimit-intro-img
    width 100%
    padding-top 60%