.universal-main-img
    width 100%
    padding-top 60%

.universal-main-center
    position absolute
    top 50%
    left 50%
    transform translate(-50%, -50%)
    // padding 2rem

.universal-main-text-box
    background-color #000
    padding 1rem

.universal-main-text-box-inner
    border 2px solid #fff
    padding 2rem 16rem

.universal-main-text
    color #fff
    font-family "Vidaloka", Sans-serif
    font-size 60px
    letter-spacing -1.5px
    line-height 1
    width 310px

.universal-img-pd
    padding 0.75rem 0.75rem 0 0.75rem

.universal-img-block
    margin-bottom 5rem