.timelimit-main-view
    width 100%
    padding-top 60%

.timelimit-bgc-view
    width 100%
    padding-top 200px

.timelimit-frame
    display flex
    flex-direction column
    justify-content center
    position absolute
    left 5%
    top 0
    width 90%
    min-height 500px

.timelimit-frame-center
    width 100%
    display flex
    flex-direction column
    min-height 300px

.timelimit-frame-center-left
    width 600px
    min-height 360px
    display flex
    flex-direction column
    justify-content space-between

.timelimit-title-text
    font-family "Playfair Display", Sans-serif
    font-size 60px
    line-height 65px
    color #fff
    font-style oblique
    letter-spacing -0.7px
    outline-color: rgb(22, 37, 68)
    text-shadow 0 0 4px #12e0b9
    text-align center
    font-weight 300

.timelimit-line-box
    display flex
    justify-content center
    >.timelimit-line
        background-color #12E0B9
        padding-top 0.3rem
        width 30%

.timelimit-line-message
    font-size 40px
    color #fff
    font-family "Abel", Sans-serif
    font-weight 900
    font-style oblique
    letter-spacing -0.7px
    text-shadow 0 0 10px #000
    text-align center

.timelimit-line-text
    color #fff
    font-size 20px
    font-weight 800    
    text-align center

.timelimit-film-button-box
    display flex
    justify-content center
    
.timelimit-film-button
    font-size 16px
    background-color #818a91
    letter-spacing 3px
    border-radius 3px
    border 3px solid #12e0b9
    padding 12px 24px
    font-family 'Microsoft JhengHei','Helvetica Neue','Helvetica','Arial', dashicons, sans-serif !important;
    color #fff
    transition: all 0.3s
    cursor pointer
    &:hover
        background-color #12e0b9
