.timelimit-wash-title-box
    padding 1rem

.timelimit-wash-title-main
    color rgba(0, 0, 0, 0.54)
    font-size 40px
    font-weight 900
    text-align center
    margin-bottom 2rem

.timelimit-wash-title-text
    text-align center
    margin-bottom 2rem

.timelimit-wash-img-outer
    padding 2rem 0
    background-color #F5F5F5

.timelimit-wash-img-box
    display flex
    flex-wrap wrap

.timelimit-wash-img
    width 33.333333%
    padding-top 25%

.timelimit-wash-img-text-box
    position absolute
    min-height 100px
    top -2rem
    left 0
    width 100%

.timelimit-wash-img-text-h
    color #fff
    font-size 60px
    font-weight 500
    font-style italic
    text-shadow 3px 1px 3px rgba(0, 0, 0, 0.92)

.timelimit-wash-img-text-p
    color #fff
    font-size 18px
    font-weight 700
    font-style italic
    text-shadow 3px 1px 3px rgba(0, 0, 0, 0.92)
