.w33f33
    width 33.33%

.w100p
    width 100%

.pdt140p
    padding-top 140%

.pdt2
    padding-top 2rem

.pdb2
    padding-bottom 2rem

.pd1
    padding 1rem

.pd2
    padding 2rem

.mt1
    margin-top 1rem

.mt1f5
    margin-top 1.5rem

.mt2
    margin-top 2rem

.mt10px
    margin-top 10px

.mb1
    margin-bottom 1rem

.mb1f5
    margin-bottom 1.5rem

.mb2
    margin-bottom 2rem

.bs-bb
    box-sizing border-box
