.header
    background-color #fff
    z-index 100
    padding 0 1rem

.container
    max-width 1400px

.main-navigation
    margin 0 auto

.inside-navigation
    display flex
    justify-content space-between
    flex-wrap wrap
    margin 0 auto

.header-logo
    font-weight 700
    font-size 25px

.navbar-menu
    >ul
        display flex
        >li
            cursor pointer
            &:hover
                background-color #c4c4c4
                >a
                    color #fff
            >a, svg
                padding 0 20px