.header
    background-color #fff
    z-index 100
    padding 0 1rem

.container
    max-width 1400px

.main-navigation
    margin 0 auto

.inside-navigation
    display flex
    justify-content space-between
    flex-wrap wrap
    margin 0 auto

.header-logo
    font-weight 700
    font-size 25px

.navbar-menu
    display flex
    // align-items center
    >ul
        display flex
        align-items center
        height 100%
        >li
            cursor pointer
            padding 1rem 1rem
            height 100%
            display flex
            align-items center
            box-sizing border-box
        >.tab-clickable
            &:hover
                background-color #c4c4c4
                >a
                    color #fff
            >a, svg, span
                // padding 0 20px